body {
    background-color: #02012C;
    color: white;
    margin: 0;
    padding: 48px 112px 80px 112px;
}
img:not([src]), 
img[src=""] {
  opacity: 0;
  border: none;
  pointer-events: none;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
#units {
    background-color: #262540;
    margin: 0;
    display: flex;
    border-radius: 8px;
    padding: 12px 16px;
    width:fit-content;
    max-width: 119px;
    cursor: pointer;
}
#units:focus,
#units:focus-visible{
    outline: 2px solid white;
    outline-offset: 4px;
}
#units:active {
    outline: 2px solid white;
    outline-offset: 4px;
}
#units p {
    margin: 0 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
#options {
    position: absolute;
    top: calc(100% + 10px);
    left: 0%;
    transform: translateX(-50%);
    width: 220px;
    padding: 6px 8px;
    background-color: #262540;
    border-radius: 12px;
    border: 1px solid #3C3B5E;
    display: none;
    z-index: 12;
}
#options h2 {
    padding: 10px 8px;
    font-family: "DM Sans", sans-serif;
    margin: 0;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 4px;
}
#options h3 {
    padding: 6px 8px 0 8px;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    color: #ACACB7;
    margin: 0;
    margin-bottom: 8px;
}
#options p {
    border-radius: 8px;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    padding: 10px 8px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    cursor: pointer;
}
#options hr {
    margin: 4px 0;
    color: #302F4A;
}
.active {
    background-color: #302F4A;
}
h1 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 52px;
    font-weight: 700;
    text-align: center;
    margin: 64px;
}
#search {
    display: flex; 
    align-items: center; 
    gap: 16px; 
    justify-content: center;
}
#searchinput {
    display: flex;
    align-items: center;
    background-color: #262540;
    padding: 16px 24px;
    border-radius: 12px;
    width: 526px;
    cursor: pointer;
    outline: none;
}
#searchinput:focus-within {
    outline: 2px solid white;
    outline-offset: 4px;
}
#searchinput input {
    background-color: transparent;
    border: none;
    width: 100%; 
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 400;
    margin: 0 10px;
}
#searchinput input::placeholder {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    color: #D4D3D9;
    font-weight: 400;
    
}
#searchinput input:focus {
    outline: none;
}
#search button {
    background-color: #4658D9;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 400;
    border: none;
    padding: 16px 24px;
    border-radius: 12px;
    cursor: pointer;
}
#search button:focus,
#search button:focus-visible{
    outline: 2px solid #4658D9;
    outline-offset: 4px;
}
#search button:active {
    outline: 2px solid #4658D9;
    outline-offset: 4px;
}
#content {
    display: none;
    height: 693px;
    max-height: 693px;
    width: 1216px;
    margin: 48px auto;
    gap: 32px;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
#info {
    width: 800px;
    height: 693px;
}
#place {
    background-image: url('./assets/images/bg-today-large.svg');
    background-repeat: no-repeat;
    background-size:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 80px 24px;
    max-width: 800px;
    max-height: 284px;
    border-radius: 20px;
}
#locationName h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 28px;
    margin: 0 0 12px 0;
}
#locationName p {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400px;
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
}
#temperature {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 120px;
}
#temperature h2 {
    font-size: 96px;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
    letter-spacing: -2px;
}
#temperature img {
    width: 120px;
    height: 120px;
}
#information {
    display: flex;
    gap: 24px;
    margin-top: 32px;
    margin-bottom: 48px;
}
.info {
    background-color: #262540;
    border: 1px solid #3C3B5E;
    width: 182px;
    display: grid;
    padding: 20px;
    border-radius: 20px;
}
.info p {
    margin: 0;
    color: #D4D3D9;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}
.info h3 {
    margin: 24px 0 0 0;
    font-size: 32px;
    font-weight: 200;
    font-family: 'DM Sans', sans-serif;
}
#week {
    display: grid;
    gap: 20px;
}
#week p {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
#weekDays {
    display: flex;
    gap: 16px;
    height: 165px;
    width: 800px;
}
.weekDays {
    background-color: #262540;
    border: 1px solid #3C3B5E;
    padding: 16px 10px 16px 10px;
    width: 100px;
    border-radius: 12px;
    display: grid;
    gap: 16px;
}
.dayName {
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    margin: 0;
}
.dayIcon {
    width: 60px;
    height: 60px;
    margin: auto;
}
.maxTemp {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    margin: 0;
    font-weight: medium;
    line-height: 120%;
}
.minTemp {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    margin: 0;
    color: #D4D3D9;
    line-height: 120%;
    font-weight: medium;
}
#suggestion {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 24;
    background-color: #262540;
    border: 1px solid #302F4A;
    padding: 8px;
    border-radius: 12px;
    display: grid;
    gap: 4px;
    display: none;
}
#suggestion li {
    width: 100%;
    list-style: none;
    padding: 10px 8px;
    border-radius: 8px;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    line-height: 120%;
    box-sizing: border-box;
}
#suggestion li:hover {
    background-color: #302F4A;
    border: 1px solid #3C3B5E;
    cursor: pointer;
}
#hourly {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
#hourly h2 {
    margin: 0;
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
}
#hourly p {
    background-color: #3C3B5E;
    margin: 0;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    cursor: pointer;
}
#hourly p img {
    margin-left: 12px;
}
#hourlyWeek {
    position: absolute;
    background-color: #262540;
    width: 214px;
    top: calc(100% + 10px);
    right: 0;
    border-radius: 12px;
    display: grid;
    gap: 4px;
    border:1px solid #3C3B5E;
    padding: 8px;
    display: none;
}
#hourlyWeek p {
    background-color: #262540;
    padding: 10px 8px;

}
#hourlyWeek p.active {
    background-color: #302F4A;
    border-radius: 8px;
}
#hourlyWeek p:hover {
    background-color: #302F4A;
    border-radius: 8px;
}
#time {
    padding: 24px;
    background-color: #262540;
    border-radius: 20px;
    flex: 1;
    margin: 0;
    height: 700px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.hour {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px 10px 12px;
    background-color: #302F4A;
    border: 1px solid #3C3B5E;
    margin-top: 16px;
    border-radius: 8px;
    cursor: pointer;
}
.hour p {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.hour p img {
    width: 40px;
    height: 40px;
    margin: 0;
}
#times {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: transparent transparent;
    transition: all 0.3s;
}

#times::-webkit-scrollbar {
    width: 4px;
    background-color: #302F4A;
    transition: all 0.3s;
    opacity: 0;
}

#times::-webkit-scrollbar-thumb {
    background-color: #302F4A;
    border-radius: 12px;
    border: 1px solid #3C3B5E;
    transition: all 0.3s;
}

#times::-webkit-scrollbar-track {
    background: transparent;
    transition: all 0.3s;
}
.loading {
    padding: 80px 24px;
}
#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#loading p {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    height: 52px;
}
#nothingFound {
    display: none;
}
#nothingFound h1 {
    font-size: 28px;
    font-family: "DM Sans", sans-serif;
    margin: 48px;
}
#fail {
    padding-top: 24px;
    flex-direction: column;
    gap: 24px;
    width: 1216px;
    align-items: center;
    margin: auto;
    display: none;
}
#fail img {
    width: 42px;
    height: 50px; 
}
#fail h1 {
    font-family: "Bricolage Grotesque";
    font-size: 52px;
    margin: 0;
}
#fail p {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    max-width: 554px;
    margin: 0;
    text-align: center;
}
#fail button {
    padding: 12px 16px;
    border-radius: 8px;
    background-color: #262540;
    border: none;
    display: flex;
    gap: 10px; 
    cursor: pointer;
    color: white;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    align-items: center;
}
#fail button img {
    width: 16px;
    height: 16px;
}
@media (max-width: 767px) {
    body {
        margin: 0;
        padding: 16px;
        box-sizing: border-box;
    }
    header {
        margin: 0;
        padding: 0;
    }
    #header img {
        height: 28px;
        width: 1307px;
    }
    #units img {
        width: 14px;
        height: 14px;
    }
    #units p {
        font-size: 14px;
    }
    h1 {
        font-size: 52px;
        margin: 48px 0;
        text-align: center;
    }
    #search {
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        width: 343px;
        position: relative;
        margin: auto;
        gap: 12px;
    }
    #searchinput {
        width: 343px;
        margin: auto;
        font-size: 20px;
        box-sizing: border-box;
    }
    #search button {
        width: 343px;
        box-sizing: border-box;
        margin: auto;
        font-size: 20px;
    }
    #content {
        margin: 32px auto;
        max-width: 343px;
        height: 1878px;
        max-height: 1878px;
        flex-direction: column;
        gap: 32px;
        box-sizing: border-box;  
    }
    #place {
        background-image: url("./assets/images/bg-today-small.svg");
        width: 100%;
        box-sizing: border-box;
        max-width: 343px;
        flex-direction: column;
        padding: 50px 24px 70px 24px;
    }
    #today, #country {
        text-align: center;
    }
    #information {
        flex-wrap: wrap;
        width: 100%;
        box-sizing: border-box;
        max-width: 343px;
        gap: 16px;
    }
    .info {
        width: 163px;
        box-sizing: border-box;
    }
    #weekDays {
        flex-wrap: wrap;
        width: 100%;
        box-sizing: border-box;
        max-width: 343px;
        gap: 16px;
    }
    .weekDays {
        width: 103px;
        max-width: 103px;
        height: 165px;
        max-height: 165px;
        box-sizing: border-box;
    }
    .weekDays p {
        font-size: 18px;
    }
    .maxTemp, .minTemp {
        font-size: 16px;
    }
    #time {
        height: 685px;
        max-height: 685px;
        width: 343px;
        max-width: 343px;
        box-sizing: border-box;
        position:unset;
    }
    #info {
        height: 1220px;
        max-height: 1220px;
    }

}
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        padding: 24px 24px 80px 24px;
    }
    #content {
        width: 720px;
        max-width: 720px;
        height: 1390px;
        max-height: 1390px;
        flex-direction: column;
        box-sizing: border-box;
        gap: 32px;
        margin: 32px auto;
    }
    #info {
        width: 100%;
    }
    .weekDays {
        width: 89px;
        max-width: 89px;
        padding: 16px 10px; 
        box-sizing: border-box;
    }
    #time {
        width: 100%;
    }
} 
